<h1> <%= "#{action_message} assunto/área" %> </h1>

<div class="panel panel-default">
  <div class="panel-body">
    <div class="row">
      <div class="col-lg-6">

        <% if @subject.errors.any? %>
          <div class="alert alert-danger alert-dismissible fade show" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>

            <ul>
              <% @subject.errors.full_messages.each do |message| %>
                <li> <%= message %> </li>
              <% end %>
            </ul>
          </div>
        <% end %>

        <%= form_with(model: [:admins_backoffice, @subject ], local: true) do |form| %>

          <div class="form-group">
            <%= form.label :description %>
            <%= form.text_field :description, class:"form-control", placeholder:"Descrição do assunto/área" %>
          </div>

          <button type="submit" class="btn btn-outline-secondary">Salvar</button>
        <% end %>
      </div>
    </div>
  </div>
</div>