<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>TimeToAnswer</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "site", "data-turbo-track": "reload" %>

    <link rel="canonical" href="https://getbootstrap.com/docs/4.6/examples/navbar-static/">

    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
    </style>

  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light topbar mx-4 mb-4 static-top shadow">
      <%= link_to "Time to Answer", root_path, class: "navbar-brand"%>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <%= form_with(url: site_search_path, local: true, method: :get, class: "form-inline") do |form| %>
          <%= form.text_field :term, class: "form-control mr-sm-2", type: "search", placeholder: "Busque uma pergunta...", ariaLabel: "Search" %>
          <button class="btn btn-outline-secondary my-2 my-sm-0" type="submit">Pesquisar</button>
        <% end %>
        
        <ul class="navbar-nav ml-auto">
          <% unless user_signed_in? %>
            <li class="nav-item"><%= link_to 'Entrar', new_user_session_path, class: "nav-link" %></li>
            <li class="nav-item"><%= link_to 'Cadastrar-se', new_user_registration_path, class: "nav-link" %></li>
          <% else %>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-expanded="false">
                <%= current_user.email %>
              </a>
              <div class="dropdown-menu dropdown-menu-right">
                <%= link_to users_backoffice_welcome_index_path, class:"dropdown-item" do %>
                  <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i> Perfil
                <% end %>
                <div class="dropdown-divider"></div>
                <%= link_to destroy_user_session_path, class:"dropdown-item", data: {turbo_method: :delete} do %>
                  <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i> Sair
                <% end %>
              </div>
            </li>
          <% end %>
        </ul>   
      </div>
    </nav>

    <main role="main" class="container">
      <% if flash[:success] %>
        <div class="alert alert-success" role="alert">
          <%= flash[:success] %>
        </div>
      <% elsif flash[:danger] %>
        <div class="alert alert-danger" role="alert">
          <%= flash[:danger] %>
        </div>
      <% end %>
      
      <%= yield %>
    </main>

    <%= javascript_importmap_tags %>
    
    <% if notice %>
        <%= javascript_tag do %>
            $.bootstrapGrowl("<%= notice %>", { 
                type: 'success' ,
                align: 'right',
                allow_dismiss: true,
                stackup_spacing: 10
            });
        <% end %>
    <% end %>
  </body>
</html>

